<div class="d-flex p-5 justify-content-center align-items-center" id="welcome-container">
  <div class="d-flex p-5" id="translucent"></div>
  <div class="card" id="welcome-card">
    <div class="card-body">
      <h1 class= "card-text">Log In</h1>
      <br>
      <p class="card-text">

        <%= form_tag '/login' do %>

        <%= text_field_tag :username, nil, placeholder: "Username" %><br><br>

        <%= password_field_tag :password, nil, placeholder: "Password" %><br><br>

        <%= button_tag(id: "btnLogIn", type: 'submit', class: "btn btn-dark") do %> Login <% end %>

        <%end%>
      </p><br>
      <div class="card-footer">
        <p class="card-text"><strong> Want to join our community?</strong></p>
          <div class="row">
            <div class="col-sm-12">
              <div id="btnSignUp"><button type="button" class="btn btn-dark"><%= link_to "Sign Up", '/profile/new', method: :get, class: "home-btn"%></button></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
