<h1><%= @user.username %>'s settings</h1>
<img height=100 width=100 <%= image_tag(@user.profile_image) if current_user.profile_image.attached? %></img>
<br>
<br>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Edit Profile</h1>

<%= form_for @user do |f|%>

  <%= f.label :username%><br>

  <%= f.text_field :username%><br>

  <%= f.label :email%><br>

  <%= f.text_field :email%><br>

  <%= f.label :password%><br>

  <%= f.password_field :password%><br>

  <%= f.label :profile_image %>

  <%= f.file_field :profile_image %>

  <%= f.submit %>

<%end%>
