<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="d-flex p-5 justify-content-center align-items-center" id="welcome-container">
    <div class="d-flex p-5" id="translucent"></div>
    <div class="card" id="welcome-card">
        <div class="card-header" id="welcome-image"></div>
            <div class="card-body">
                <h1 class= "card-text">Sign Up</h1>
                  <p class="card-text">

                    <%= form_for @user do |f|%>

                    <%= f.text_field :username, placeholder: "Username"%><br><br>

                    <%= f.text_field :email, placeholder: "Email"%><br><br>

                    <%= f.password_field :password, placeholder: "Password"%><br><br>

                    <label class="btn btn-light">
                      Upload Profile Image
                      <span style="display:none;">
                        <%= f.file_field :profile_image %>
                        </span>
                        </label>
                    <br>
                    <br>

                    <%= button_tag(id: "btnSignUp", type: 'submit', class: "btn btn-dark") do %> Create User <% end %>

                  <%end%>
              </p><br>
              <div class="card-footer">
                <p class="card-text"><strong> Already part of the community?</strong></p>
                  <div class="row">
                      <div class="col-sm-12">
                          <div id="btnLogIn"><button type="button" class="btn btn-dark"><%= link_to "Login", '/login', method: :get, class: "home-btn"%></button></div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
