<% if @user.errors.any? %>
  <div class="alert alert-danger alert dismissible fade show" role="alert">

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>

    <h4><%= pluralize(@user.errors.count, "error") %> prohibited user from being saved:</h4>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="d-flex p-5 justify-content-center align-items-center" id="welcome-container">
  <div class="d-flex p-5" id="translucent"></div>
  <br><br>
  <div class="card" id="welcome-card">
    <div class="card-body">
      <h1 class= "card-text">Sign Up</h1>
      <br>
      <p class="card-text">
        <%= form_for @user do |f|%>
        <%= f.text_field :username, placeholder: "Username"%><br><br>
        <%= f.text_field :email, placeholder: "Email"%><br><br>
        <%= f.password_field :password, placeholder: "Password"%><br><br>

        <label class="btn btn-light" id="ProfileBtn">
          Upload Profile Image
          <span style="display:none;">
            <%= f.file_field :profile_image %>
          </span>
        </label>
          <br>
          <br>
          <%= button_tag(id: "btnSignUp", type: 'submit', class: "btn btn-dark") do %> Create User <% end %>
        <%end%>
      </p><br>

      <div class="card-footer">
        <p class="card-text"><strong> Already part of the community?</strong></p>
        <div class="row">
            <div class="col-sm-12">
              <div id="btnLogIn"><button type="button" class="btn btn-dark"><%= link_to "Login", '/login', method: :get, class: "home-btn"%></button></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
