<div class="row row-cols-1 row-cols-md-2">
  <% @posts.reverse.each do |post| %>
    <div class="col mb-4">

      <div class="card h-100" style="width: 30rem; margin:auto">
        <a href=<%= post_path(post)%>>
          <img class="card-img-top" <%= image_tag(post.main_image) if post.main_image.attached? %> </img>
        </a>

        <div class="card-body">
          <a href=<%= post_path(post)%>>
            <h3 class="card-title"><%= post.title %> </h3>
          </a>
          <p class="card-text"><%= post.description %> </p>

          <% if post.user_id === current_user.id %>
            <p class="btn btn-link"><%= link_to 'Edit', edit_post_path(post), method: :get %>
            </p>

            <p class="btn btn-link"><%= link_to 'Delete', post_path(post), :method => :delete, data: { confirm: "Are you sure?" }%>
            </p>

          <% end %>

          <div class="card-footer">
            <p class="card-text"><small class="text-muted"> 
              Post created by:
              <% @user = User.find(params[:id] = post.user_id) %>
              <%= link_to @user.username, user_path(@user.id), method: :get %> &nbsp;|&nbsp;  <%= post.created_at.strftime('%d %B %Y, %I:%M%P ') %>
            </small></p>

            <p class="card-text"><small class="text-muted">
              <%= post.city %>,  <%= post.postcode %>
            </small></p>
            
            <p class="card-text"><small class="text-muted">
              
            </small></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
