<% @posts.reverse.each do |post| %>
<%= image_tag post.main_image %> <br>
<h3><%= post.title %> </h3>
<p><%= post.description %> </p><br>
<p><%= link_to 'Show', post_path(post), method: :get %></p>
<p><%= link_to 'Edit', edit_post_path(post), method: :get %></p>
<p><%= button_to 'Delete', post_path(post), :method => :delete, data: { confirm: "Are you sure?" }%> </p>
<% end %>
