<div id="container">
  <div class="d-flex p-5" id="transparent-background"></div>
  <% if @post.errors.any? %>
    <div class="alert alert-danger alert dismissible fade show" role="alert" id="error_explanation">

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>

      <h4><%= pluralize(@post.errors.count, "error") %> prohibited post from being saved:</h4>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br><br>
  <div class="card" id="new-post-card">
    <div class="card-body">
    <br>
      <h1 class="card-text"> Edit Post </h1>
        <p class="card-text">

          <%= form_with(model: [@post], local: true, data: { controller: 'places', action: 'google-maps-callback@window->places#initMap', places_latitude: @post.latitude, places_longitude: @post.longitude }) do |f|%>

            <%= f.text_field :title, class: "new-input", placeholder: "Title" %><br><br>

            <%= f.text_area :description, class: "new-input", placeholder: "Description" %><br><br>

            <%= f.text_field :items, class: "new-input", placeholder: 'Add items separated with a comma' %><br><br>

            <%= f.search_field :address, class: "new-input", placeholder: "Address", data: { target: 'places.field', action: 'keydown->places#keydown' } %><br><br>

            <%= f.text_field :city, class: "new-input", placeholder: "City", data: { target: 'places.city' } %><br><br>

            <%= f.text_field :postcode, class: "new-input", placeholder: "Postcode", data: { target: 'places.postcode' } %><br><br>

            <%= f.hidden_field :latitude, data: { target: 'places.latitude' } %>
            <%= f.hidden_field :longitude, data: { target: 'places.longitude' } %>
            <% if @post.main_image.attached? %>
              <div class="saved-images-box">
                <% @post.main_image.each do |image| %>
                  <div class="saved-image-container">
                    <img class="saved-image" <%= image_tag(image) %> </img>
                    <p class="remove-link">Remove file</p>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-files="5">
            <%= f.file_field :main_image, multiple: true, direct_upload: true, data: { target: "dropzone.input" } %>
            <div class="dropzone-msg dz-message needsclick text-gray-600">
              <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
              <span class="dropzone-msg-desc text-sm">4 MB file size maximum. Allowed file types png,
              jpg.</span>
            </div>
          </div>

            <br><br>
              <%= button_tag(type: 'submit', class: "btn btn-dark") do %> Update Post <% end %> <br><br>
          </p>
    <div>
        <div data-target='places.map' style='height: 400px'></div>
    </div>
    <br>
    <%end%>
    </div>
  </div>
  <br><br>
</div>
