<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited post from being saved:</h2>

    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1> New Post </h1>

<%= form_with(model: [@post], local: true, data: { controller: 'places', action: 'google-maps-callback@window->places#initMap' }) do |f|%>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <%= f.label :address %><br>
  <%= f.search_field :address, data: { target: 'places.field', action: 'keydown->places#keydown' } %><br>

  <%= f.label :city %><br>
  <%= f.text_field :city, data: { target: 'places.city' } %><br>

  <%= f.label :postcode %><br>
  <%= f.text_field :postcode, data: { target: 'places.postcode' } %><br>

  <%= f.hidden_field :latitude, data: { target: 'places.latitude' } %><br>
  <%= f.hidden_field :longitude, data: { target: 'places.longitude' } %><br>

  <%= f.label :main_image %><br>
  <%= f.file_field :main_image %><br>

  <%= f.submit %>

  <div>
      <div data-target='places.map' style='height: 400px'></div>
  </div>
<%end%>
