<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited post from being saved:</h2>

    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br><br>
<div class="card" id="new-post-card">
        <div class="card-body">
            <h1 class= "card-text">New Post</h1>
              <p class="card-text">
                <%= form_with(model: [@post], local: true, data: { controller: 'places', action: 'google-maps-callback@window->places#initMap' }) do |f|%>

                  <%= f.text_field :title, placeholder: "Title" %><br><br>

                  <%= f.text_area :description, placeholder: "Description" %><br><br>

                  <%= f.text_field :items, placeholder: 'Add items separated with a comma' %><br><br>

                  <%= f.search_field :address, placeholder: "Address", data: { target: 'places.field', action: 'keydown->places#keydown' } %><br><br>

                  <%= f.text_field :city, placeholder: "City", data: { target: 'places.city' } %><br><br>

                  <%= f.text_field :postcode, placeholder: "Post Code", data: { target: 'places.postcode' } %><br><br>

                  <%= f.hidden_field :latitude, data: { target: 'places.latitude' } %>
                  <%= f.hidden_field :longitude, data: { target: 'places.longitude' } %>

                  <label class="btn btn-light">
                    Upload Picture
                    <span style="display:none;">
                      <%= f.file_field :main_image %>
                      </span>
                      </label>
                      <br><br>

                  <%= button_tag(type: 'submit', class: "btn btn-dark") do %> Create Post <% end %> <br><br>

                  <div>
                      <div data-target='places.map' style='height: 400px'></div>
                  </div>
                <%end%>


              </p>

        </div>
    </div>
    <br><br>
