
<div class='card'>
  <img class="card-img-top" <%= image_tag(@post.main_image) if @post.main_image.attached? %> </img>
  
  <div class="card-body">
    <h1 class="card-text"><%= @post.title %></h1>
    <p class="card-text"><%= @post.description %></p>
  </div>
</div>

<div class='card mb-3'>
  <div class="row no-gutters">
    <div class="col-md-6">
      <img class='card-img' <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=800x400&center=#{@post.latitude},#{@post.longitude}&markers=color:red%7C#{@post.latitude},#{@post.longitude}&key=#{@api_key}", alt:'map' %> </img>
    </div>

    <div class="col-md-6">
      <div class="card-body">
        <p class="card-text">
          Post created by:   <%= link_to @user.username, user_path(@user.id), method: :get %> </p>
        <p>
        <p class="card-text">
          <%= @post.address %>, <%= @post.city %>,  <%= @post.postcode %> 
        </p>
        <p class="card-text">
          <%= @post.created_at.strftime('%d %B %Y | %I:%M%P ') %>
        </p>
      </div>
    </div>
  </div>
</div>

  <% if @post.user_id === current_user.id %>
  <p><%= link_to 'Edit', edit_post_path(@post), method: :get %></p>
  <p><%= button_to 'Delete', post_path(@post), :method => :delete, data: { confirm: "Are you sure?" }%> </p>
  <% end %>
