<h1> All Posts </h1>

<% @posts.each do |post| %>
<%= image_tag post.main_image %> <br>
<h3><%= post.title %> </h3>
<p><%= post.description %> </p><br>
<p><%= button_to 'Edit', 'posts/:id/edit', method: :get %>
<p><%= button_to 'Delete', posts_path, :method => :delete, data: { confirm: "Are you sure?" }%> </p>
<% end %>
